:root {
  --background-color: #f0f0f0;
  --link-color: #0078d7;
  --text-color: #333;
  --text-footer-color: #666;

  --max-width: 1400px;
  --side-padding: 50px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding-top: 0px;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

main {
  flex-grow: 1;
}

nav {
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  line-height: 1;
}

.nav-left {
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo {
  display: block;
  height: 35px;
  transition: filter 0.3s, opacity 0.3s;
  width: auto;
}

.nav-left a:first-child:hover .logo {
  filter: contrast(85%);
  opacity: 0.8;
}

.nav-title {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-title:hover {
  color: var(--link-color);
}

.logo {
  display: block;
  height: 35px;
  width: auto;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  align-items: center;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: var(--link-color);
}

#header {
  align-items: center;
  background: var(--background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  transition: transform 0.3s ease;
  width: 100%;
  z-index: 1000;
}

#header .container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.header-text {
  font-size: 30px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  text-align: left;
}

.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

.back-to-top {
  align-items: center;
  background: #191717;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: none;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  opacity: 0.8;
  padding: 0;
  position: fixed;
  right: 40px;
  text-decoration: none;
  transition: background 0.2s, opacity 0.2s, transform 0.2s;
  width: 48px;
  z-index: 1200;
}

.back-to-top:hover {
  background: #151515;
  opacity: 1;
  transform: translateY(-4px) scale(1.08);
}

.footer {
  align-content: center;
  border-top: 1px solid #e5e7eb;
  box-sizing: border-box;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: space-between;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-width: var(--max-width);
  padding-bottom: 10px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  padding-top: 10px;
  width: 100%;
  z-index: 100;
}

.footer-left {
  display: flex;
  gap: 20px;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right a i {
  color: var(--text-footer-color);
  transition: color 0.2s;
}

.footer-right a:hover i {
  color: var(--link-color);
}

.footer-text {
  color: var(--text-footer-color);
  padding: 10px 0;
  text-decoration: none;
  text-size-adjust: 32px;
}

.footer-text:hover {
  color: var(--link-color);
}
